@import "libs/select2";

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/reset";
@import "base/typography";
@import "base/base";

@import "includes/header";
@import "includes/footer";

@import "components/loader";
@import "components/accordion";
@import "components/popup";

body,
html {
  position: relative;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.main {
  min-height: 100vh;
  padding-top: 250px;
  padding-bottom: 100px;

  .bg-pattern {
    z-index: 1;
    left: 0;
    top: 390px;
    bottom: 0;
    background-image: url('../img/pattern.png');
    background-size: 319px;
  }
}

.form {
  z-index: 2;
  padding-top: 90px;
  padding-bottom: 20px;

  .caption {
    margin-bottom: 22px;
  }

  &__logo {
    top: -211px;
    left: 50%;
    transform: translateX(-50%);

    img {
      z-index: 2;
      display: block;
      height: auto;
      width: 276px;
      transform: rotate(-15deg);
    }

    &_overlay {

      &-rt {
        z-index: 1;
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 93.23%);
        opacity: 0.5;
        width: 220px;
        height: 220px;
        right: -59px;
        bottom: 0;
        transform: rotate(-4.75deg);
      }

      &-lt {
        z-index: 1;
        left: -46px;
        bottom: 23px;
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 93.23%);
        opacity: 0.5;
        width: 192px;
        transform: rotate(-4.75deg);
        height: 192px;
      }

      &-bottom {
        z-index: 1;
        bottom: -27px;
        right: 8px;
        background: radial-gradient(50% 50% at 50% 50%, #C4C4C4 29.69%, rgba(196, 196, 196, 0) 100%);
        opacity: 0.5;
        width: 220px;
        height: 44px;
      }
    }
  }

  &__field {

    &_input {
      padding: 14px 20px 16px;
      background-color: #fff;

      &::placeholder {
        color: #000;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Montserrat', sans-serif;
      }

      &:disabled {

        &::placeholder {
          color: #898989;
        }
      }
    }

    &_label {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 6px;
      margin-left: 20px;

      &.check {
        margin-left: 0;

        .check__text {
          padding-left: 36px;
          padding-top: 2px;

          &:before,
          &:after {
            position: absolute;
            content: '';
            display: block;
            border-radius: 50%;
          }

          &:before {
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #C4C4C4;
          }

          &:after {
            width: 14px;
            height: 14px;
            background-color: #C4C4C4;
            top: 4px;
            left: 4px;
            opacity: 0;
          }
        }

        input {
          display: none;

          &:checked + .check__text:after {
            opacity: 1;
          }
        }
      }
    }

    textarea {
      height: 180px;
      resize: none;
    }

    .question {
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      right: 12px;
      width: 15px;
      height: 15px;
      background-image: url('../img/question.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: initial;
    }

    span.error {
      display: none!important;
    }

    select,
    input,
    textarea {
      color: #000;

      &.error {
        border-color: red;

        & + span.select2 .select2-selection--single {
          border-color: red;
        }

        & + .check__text:before {
          border-color: red;
        }
      }
    }
  }

  .error-message {
    color: red;
    margin-bottom: 5px;
  }

  &__note {
    margin-top: 30px;
    margin-bottom: 35px;
  }
}

